<div id='homeMain'>
  <h1 style='position:relative; top:20px; font-weight:bold; text-align:center; color:white;'>Welcome to Discopia!</h1>
  <article style='width: 500px; position:relative; left:400px; color:white; top:25px;'>
    Here, you can access information about some of your favorite music artists. We can provide you
    with information such as the artist's stage name, current record label, years active, their top
    songs, and a link to their wikipedia page for more information. To navigate the site, please
    choose from the available options in the header on top of the page. Thank you!.
  </article>
  <img src='../../../assets/Discopia.png' style='position:relative; left: 490px; top:25px;'>
</div>>
