<div id='FAQMain' align='center'>
  <H2 style='width:1000px; position:relative; top:20px; text-align:center; font-weight:bold;color:whitesmoke;'>Have Questions? Take a Look at Some Common Questions Below!</H2>
  <p id='q1' (click)='toggleA1();'><i id='caret1' class="fas fa-caret-right rotate"></i>You do realize there's google, right?</p>
  <div id='a1' class='hidden'>
    <p style='padding:0px;margin:0px;'>We are aware of Google, this website is for testing purposes only.</p>
  </div>
  <p id='q2' (click)='toggleA2();'><i id='caret2' class="fas fa-caret-right rotate"></i>What is the point of this webpage?</p>
  <div id='a2' class='hidden'>
    <p style='padding:0px;margin:0px;'>This website provides a means to practice for it's developer.</p>
  </div>
  <p id='q3' (click)='toggleA3();'><i id='caret3' class="fas fa-caret-right rotate"></i>Why do I need to sign up to view the content?</p>
  <div id='a3' class='hidden'>
    <p style='padding:0px;margin:0px;'>The signup and login features are to help the developer practice authentication/authorization.</p>
  </div>
  <p id='q4' (click)='toggleA4();'><i id='caret4' class="fas fa-caret-right rotate"></i>Will more artists be added soon?</p>
  <div id='a4' class='hidden'>
    <p style='padding:0px;margin:0px;'>Depending on the developer's time/availability, more artists may be added at some point.</p>
  </div>
</div>
