<div id='artistsMain'>
  <div id='artistsIcons'>
    <label id='eminemLab'>Eminem</label>
    <img id='eminemIco' src='../../../assets/Eminem.jpg' (click)='toggleEminem();'>
    <label id='arianaLab'>Ariana</label>
    <img id='arianaIco' src='../../../assets/Ariana3.jpg' (click)='toggleAriana();'>
    <label id='drakeLab'>Drake</label>
    <img id='drakeIco' src='../../../assets/Drake.jpg' (click)='toggleDrake();'>
    <label id='halseyLab'>Halsey</label>
    <img id='halseyIco' src='../../../assets/Halsey8.jpg' (click)='toggleHalsey();'>
  </div>
  <div id='aboutArtists' class='row'>
    <div id='aboutEminem' class='col col-sm hidden'>
    </div>
    <div id='aboutAriana' class='col col-sm hidden'>
    </div>
    <div id='aboutDrake' class='col col-sm hidden'>
    </div>
    <div id='aboutHalsey' class='col col-sm hidden'>
    </div>
  </div>
</div>
