<div id='contactMain'>
  <h3 style='position:relative; top:20px; color:whitesmoke; font-weight:bold; text-align:center;'>Have Other Questions or Inquiries? Call or Email Us!</h3>
  <p style='position: relative; left:350px; top:40px; color:whitesmoke; font-weight:bold;'>Email: discopiaHelp@gmail.com</p>
  <p style='position: relative; left:350px; top:30px; color:whitesmoke; font-weight:bold;'>Phone: 123-456-7890</p>
  <p style='position: relative; left:350px; top:20px; color:whitesmoke; font-weight:bold;'>Have issues or suggestions? Please head over to our <a href='/feedback' style='text-decoration: underline; color:rgb(34, 89, 255);'>feedback</a> page, we'd love <br /> to hear from you!</p>
</div>
