<nav class='navbar navbar-default navbar-fixed-top'>
    <a href='/home'><img src="../../../assets/Discopia.png" width="100" height="72" class="d-inline-block align-center" alt="" style='position:relative;' id='discopiaIco'></a>
    <a class="navbar-brand" href="/home" id='discopiaBtn' type='button' class="d-inline-block align-center">Home</a>
    <a class="nav-link" href="/artists" id='artistsBtn' type='button' class="d-inline-block align-center">Artists</a>
    <button id='helpBtn' type='button' class="d-inline-block align-center" (click)="toggleHelp();">Help</button>
    <a href="/FAQ" id='FAQBtn' type='button' class="hidden">FAQ</a>
    <!-- <br> -->
    <a href="/contact" id='contactBtn' type='button' class="hidden">Contact</a>
    <a class="nav-link" href="/feedback" id='feedbackBtn' type='button' class="d-inline-block align-center">Feedback</a>
    <button id='logoutBtn' type='button' class="d-inline-block align-center hidden" (click)="onLogout();">Logout</button>
</nav>
